@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-button: #272523;
    --cor-input: #F4F4F4;
    --cor-border-input: #DBDBDB;



    /*Fontes*/

    --font-principal: 'Inter'
}