*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-principal);
}
/*Estilização de Pagina de login*/

body{
  background-image: url(/assets/img/Fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}


#container-login{
  background-color: #ffff;
  width: 30vw;
  height: 100vh;
}

#container-login > #form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

#container-login > #form-login > .box-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

#container-login > #form-login > .box-input > input{
  width: 90%;
  height: 47px;
  margin-top: 5px;
  align-items: end;
  padding-left: 25px;
  border-radius: 10px;
  border: solid 1px var(--cor-border-input);
  background-color: var(--cor-input);
}


#container-login > #form-login > .box-input > #senha{
  margin-bottom: 5px;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  color: #999;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider span {
  padding: 0 10px;
  white-space: nowrap;
}
